.topsection {
    // background-image: linear-gradient(to right bottom, #3723aa, #14b0ee);
    color: #fff;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    
    &-title {
        font-size: var(--fs-heading-big);
        font-weight: 400;
        letter-spacing: .75rem;

        position:absolute;
        margin-top: 2rem;
        z-index:1;

        animation-name: glideIn;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }

    &-undertitle {
        font-size: var(--fs-heading);
        font-weight: 100;
        position:absolute;
        margin-top: 15rem;
        z-index:1;
        opacity: 0;

        animation-name: showIn;
        animation-delay: 1300ms;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    &-downarrow {
        font-size: 12.5rem;
        position:absolute;
        margin-top: 70rem;
        z-index:50;
        text-decoration: none;
        color: #fff;
    }

    &-canvas {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    }

}

.whatsection {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    

    &-title {
        color: #Fff;
        padding: var(--title-padding);
        font-size: var(--fs-heading-medium);
    }
    
    &-downarrow {
        margin: 2.5rem auto;
        font-size: 12.5rem;
        z-index:50;
        text-decoration: none;
        color: #fff;
    }
    
    &-wrapper {

        &_text {
            align-items: center;
            width: 60%;
            margin-left: 5rem;
    
            color: #fff;
    
            font-size: var(--fs-text-big);
            font-weight: 100;
    
            margin-top: -.5rem;
            padding: 2rem 2rem;
    
            border-left: var(--border-2);
            border-bottom: var(--border-2);
        }
    
        &_picture {
            margin-left: 5rem;
            padding: 1.5rem 1.5rem;

            border-left: var(--border-2);
            border-bottom: var(--border-2);
        }

        &_picture2 {
            margin-left: 5rem;
            padding: 1.5rem 1.5rem;

            height: 70rem;

            border-left: var(--border-2);
            border-bottom: var(--border-2);
        }
    
}

}

.whatsection2 {
    height: 145vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right,  #14b0ee 0%, rgba(181,13,30,1) 100%);
    background-attachment: fixed;

    &-title {
        color: #Fff;
        padding: var(--title-padding);
        font-size: var(--fs-heading-medium);
    }

    &-text {
        align-items: center;
        width: 60%;
        margin-left: 5rem;
    
        color: #fff;
    
        font-size: var(--fs-text-big);
        font-weight: 100;
    
        margin-top: -.5rem;
        padding: 2rem 2rem;
    
        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

    &-text2 {
        align-items: center;
        width: 60%;
        margin-left: 5rem;
    
        color: #fff;
    
        font-size: var(--fs-text-big);
        font-style: italic;
        font-weight: 400;
    
        margin-top: -.5rem;
        padding: 2rem 2rem;
    
        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

    &-video {
    height: 55rem;
    width: 100rem;

    margin-left: 5rem;
    padding: 1.5rem 1.5rem;

    border-left: var(--border-2);
    border-bottom: var(--border-2);

    }

    &-downarrow {
        margin: 2.5rem auto;
        font-size: 12.5rem;
        z-index:50;
        text-decoration: none;
        color: #fff;
    }
}

.mainsection {
    height: 130vh;
    width: 100vw;
    background: linear-gradient(to top right,  #14b0ee 0%, rgba(181,13,30,1) 100%);
    background-attachment: fixed;

    &-title {
        color: #Fff;
        padding: var(--title-padding);
        font-size: var(--fs-heading-medium);
    }

    &-underheader {
        font-size: var(--fs-heading);
        color: #Fff;
        padding: var(--title-padding);
    }

    &-text {
        align-items: center;
        width: 60%;
        margin-left: 5rem;
        font-weight: 100;
    
        color: #fff;
    
        font-size: var(--fs-text-big);
        font-weight: 100;
    
        margin-top: -.5rem;
        padding: 2rem 2rem;
    
        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

    &-picture {
        height: 50rem;
        
        margin-left: 5rem;
        padding: 1.5rem 1.5rem;

        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

}

.mainsection2 {
    display: flex;
    flex-direction: column;
    height: 140vh;
    width: 100vw;
    background: linear-gradient(to bottom right,  #14b0ee 0%, #20a327 100%);
    background-attachment: fixed;

    &-underheader {
        font-size: var(--fs-heading);
        color: #Fff;
        padding: var(--title-padding);
    } 

    &-text {
        align-items: center;
        width: 60%;
        margin-left: 5rem;
    
        color: #fff;
    
        font-size: var(--fs-text-big);
        font-weight: 100;
    
        margin-top: -.5rem;
        padding: 2rem 2rem;
    
        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

      &-picture {
        height: 50rem;
        width: 70rem;
        
        margin-left: 5rem;
        padding: 1.5rem 1.5rem;

        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

    &-downarrow {
        margin: 2.5rem auto;
        font-size: 12.5rem;
        z-index:50;
        text-decoration: none;
        color: #fff;
    }

}

.mainsection3 {
    display: grid;
    grid-template-rows: 200px 200px 1fr 600px;
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(2, 1fr);
    min-height: 250vh;
    width: 100vw;
    background-color: var(--darkblue1);

    &-title {
        height: 15rem;
        align-self: center;
        color: #Fff;
        padding: var(--title-padding);
        font-size: var(--fs-heading-medium);
    }

    &-text {
        align-items: center;
        width: 60%;
        height: 10rem;

        margin-left: 5rem;
    
        color: #fff;
    
        font-size: var(--fs-text-big);
        font-weight: 100;
    
        margin-top: -.5rem;
        margin-bottom: 7.5rem;
        padding: 2rem 2rem;
    
        border-left: var(--border-2);
        border-bottom: var(--border-2);
    }

    &-gridcontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 150px repeat( auto-fit, minmax(250px, 500px));
        width: 80vw;
        height: 130rem;

        background-color: var(--cardboard);
        box-shadow: var(--shadow-light-4);
        
        justify-self: center;
        align-self: start;

        &_title {
            grid-column: 1 / span 2;
            grid-row: 1 / 1;
            align-self: start;
            justify-self: center;

            padding-top: 6.5rem;
            font-size: var(--fs-heading);
        }

        &_titleJohannes {
            grid-column: 1 / span 1;
            grid-row: 2 / 2;
            padding-top: 8rem;
            align-self: start;
            justify-self: center;
            font-size: var(--fs-text-big);
        }

        &_textJohannes {
            grid-column: 1 / span 1;
            grid-row: 2 / 2;
            align-self: center;
            justify-self: center;
            font-size: var(--fs-text);
            font-weight: 300;
            width: 80%;

            padding: 2rem 2rem;
            border-left: var(--border-3);
            border-bottom: var(--border-3);
        }

        &_pictureJohannes {
            grid-column: 2 / 2;
            grid-row: 2 / 2;
            justify-self: center;
            align-self: center;
            height: 55rem;
        }

        &_titleVictor {
            grid-column: 2 / span 2;
            grid-row: 3 / 3;
            padding-top: 8rem;
            align-self: start;
            justify-self: center;
            font-size: var(--fs-text-big);
        }

        &_textVictor {
            grid-column: 2 / span 2;
            grid-row: 3 / 3;
            align-self: center;
            justify-self: center;
            font-size: var(--fs-text);
            font-weight: 300;
            width: 80%;

            padding: 2rem 2rem;
            border-right: var(--border-3);
            border-bottom: var(--border-3);
            
        }

        &_pictureVictor {
            grid-column: 1 / 1;
            grid-row: 3 / 3;
            justify-self: center;
            align-self: center;
            height: 55rem;
        }

    }

    &-iframe {
        justify-self: center;
        align-self: center;

        width: 120rem;
        height: 60rem;
    }
    
    &-downarrow {
        margin: 2.5rem auto;
        font-size: 12.5rem;
        z-index:50;
        text-decoration: none;
        color: #fff;
    }
}

.endsection1 {
    background-color: var(--cardboard);
    height: 250vh;
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 125px 500px 75px 150px 500px 75px 150px;


    &-title {
        color: #000;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        height: 15rem;
        align-self: center;
        // padding: var(--title-padding);
        margin-left: 5rem;
        font-size: var(--fs-heading-medium);
    }

    &-text {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        color: #000;

        background-color: var(--cardboard);
        box-shadow: var(--shadow-light-4);
        // align-items: center;
        width: 100%;

        margin-left: 5rem;
    
        font-size: var(--fs-text-big);
        font-weight: 100;
    
        padding: 2rem 2rem;
    
        // border-left: var(--border-2);
        // border-bottom: var(--border-2);
    }

    &-picture1 {
        margin-top: 6rem;
        box-shadow: var(--shadow-light-4);

        z-index: 1;

        grid-column: 1 / span 2;
        grid-row: 3 / 3;

        align-self: center;
        justify-self: center;
    }

    &-wrongsymbol1 {
        display: none;
        margin-top: 6rem;

        z-index: 99;
        height: 45rem;

        grid-column: 1 / span 2;
        grid-row: 3 / 3;

        align-self: center;
        justify-self: center;

        transition: all .4s;
    }

    &-correctsymbol1 {
        display: none;
        margin-top: 6rem;
        
        z-index: 99;
        height: 45rem;

        grid-column: 1 / span 2;
        grid-row: 3 / 3;

        align-self: center;
        justify-self: center;

        transition: all .4s;
    }

    &-undertext1 {
        display: grid;
        grid-column: 1 / span 2;
        grid-row: 4 / 4;
        
        align-self: center;
        justify-self: center;
        
        font-size: var(--fs-heading);
    }

    &-correctText1 {
        display: none;
        grid-column: 1 / span 2;
        grid-row: 4 / 4;
        
        align-self: center;
        justify-self: center;
        
        font-size: var(--fs-heading);
        background-color: #77746e;
        // box-shadow: var(--shadow-light-4);
        padding: 1rem 1rem;

        color: #15fa00;
    }

    &-wrongText1 {
        display: none;
        grid-column: 1 / span 2;
        grid-row: 4 / 4;
        
        align-self: center;
        justify-self: center;
        
        font-size: var(--fs-heading);
        background-color: #b1aba1;
        // box-shadow: var(--shadow-light-4);
        padding: 1rem 1rem;

        color: #af1d1d;
    }

    &-ekteBtn1 {
        grid-column: 1 / 1;
        grid-row: 5 / 5;
        background-color: var(--darkblue1);
        color: #fff;
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 500;
    
        border: none;
        font-size: var(--fs-text-big);
        
        cursor: pointer;
        justify-self: center;
        align-self: center;

        width: 20rem;
        height: 10rem;
        transition: all .2s;
    }

    &-ekteBtn1:hover {
        transform: translateY(-1rem);
        box-shadow: var(--shadow-light-4);
    }

    &-fakeBtn1 {
        grid-column: 2 / 2;
        grid-row: 5 / 5;
        background-color: var(--darkblue1);
        color: #fff;
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 500;

        border: none;
        font-size: var(--fs-text-big);

        cursor: pointer;
        justify-self: center;
        align-self: center;

        width: 20rem;
        height: 10rem;
        transition: all .2s;
    }

    &-fakeBtn1:hover {
        transform: translateY(-1rem);
        box-shadow: var(--shadow-light-4);
    }

    &-picture2 {
        margin-top: 6rem;
        height: 45rem;
        box-shadow: var(--shadow-light-4);

        grid-column: 1 / span 2;
        grid-row: 6 / 6;

        align-self: center;
        justify-self: center;
    }

    &-wrongsymbol2 {
        display: none;
        margin-top: 6rem;

        z-index: 99;
        height: 45rem;

        grid-column: 1 / span 2;
        grid-row: 6 / 6;

        align-self: center;
        justify-self: center;

        transition: all .4s;
    }

    &-correctsymbol2 {
        display: none;
        margin-top: 6rem;
        
        z-index: 99;
        height: 45rem;

        grid-column: 1 / span 2;
        grid-row: 6 / 6;

        align-self: center;
        justify-self: center;

        transition: all .4s;
    }

    &-undertext2 {
        display: grid;
        grid-column: 1 / span 2;
        grid-row: 7 / 7;
        
        align-self: center;
        justify-self: center;
        
        font-size: var(--fs-heading);
    }

    &-correctText2 {
        display: none;
        grid-column: 1 / span 2;
        grid-row: 7 / 7;
        
        align-self: center;
        justify-self: center;
        
        font-size: var(--fs-heading);
        background-color: #77746e;
        // box-shadow: var(--shadow-light-4);
        padding: 1rem 1rem;

        color: #15fa00;
    }

    &-wrongText2 {
        display: none;
        grid-column: 1 / span 2;
        grid-row: 7 / 7;
        
        align-self: center;
        justify-self: center;
        
        font-size: var(--fs-heading);
        background-color: #b1aba1;
        // box-shadow: var(--shadow-light-4);
        padding: 1rem 1rem;

        color: #af1d1d;
    }

    &-ekteBtn2 {
        grid-column: 1 / 1;
        grid-row: 8 / 8;
        background-color: var(--darkblue1);
        color: #fff;
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 500;
    
        border: none;
        font-size: var(--fs-text-big);
        
        cursor: pointer;
        justify-self: center;
        align-self: center;

        width: 20rem;
        height: 10rem;
        transition: all .2s;
    }

    &-ekteBtn2:hover {
        transform: translateY(-1rem);
        box-shadow: var(--shadow-light-4);
    }

    &-fakeBtn2 {
        grid-column: 2 / 2;
        grid-row: 8 / 8;
        background-color: var(--darkblue1);
        color: #fff;
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 500;

        border: none;
        font-size: var(--fs-text-big);

        cursor: pointer;
        justify-self: center;
        align-self: center;

        width: 20rem;
        height: 10rem;
        transition: all .2s;
    }

    &-fakeBtn2:hover {
        transform: translateY(-1rem);
        box-shadow: var(--shadow-light-4);
    }
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1.5rem;
    height: 55vh;
    width: 100vw;

    background-color: var(--darkblue1);

    &-logo {
        grid-column: 1 / span 2;
        grid-row: 1 / 1;
        
        align-self: center;
        justify-self: center;
    }

    &-title {
        font-size: var(--fs-heading-medium);
        font-weight: 100;
        color: #fff;
    }
    
    .link {
        text-decoration: none;
    }
    
    .underline {
        grid-column: 1 / span 2;
        grid-row: 2 / 2;
        
        align-self: center;
        justify-self: center;
        border-bottom: var(--border-2);
    }

    &-facebook {
        // height: 8rem;
        grid-column: 1 / span 2;
        grid-row: 3 / 3;
        
        align-self: center;
        justify-self: center;

        margin-right: 10rem;
        vertical-align: middle;
    }

    .facebook {
        height: 5rem;
    }

    &-twitter {
        grid-column: 1 / span 2;
        grid-row: 3 / 3;
        
        align-self: center;
        justify-self: center;

        margin-left: 10rem;
        vertical-align: middle;
    }

    .twitter {
        height: 5rem;
    }

    &-undertitle1 {
        grid-column: 1 / span 2;
        grid-row: 4 / 4;

        align-self: center;
        justify-self: center;

        font-size: var(--fs-text-big);
        font-weight: 100;
        color: #fff;
    }

    &-undertitle2 {
        grid-column: 1 / span 2;
        grid-row: 5 / 5;

        align-self: center;
        justify-self: center;

        font-size: var(--fs-text-big);
        font-weight: 100;
        color: #fff;
    }

    &-undertitle3 {
        grid-column: 1 / span 2;
        grid-row: 6 / 6;

        align-self: center;
        justify-self: center;

        font-size: var(--fs-text-big);
        font-weight: 100;
        color: #fff;
    }

    .nameLink {
        color: #fff;
        text-decoration: underline;
    }

    &-undertitle4 {
        grid-column: 1 / span 2;
        grid-row: 7 / 7;

        align-self: center;
        justify-self: center;

        font-size: var(--fs-text-big);
        font-weight: 100;
        color: #fff;
    }

    &-undertitle5 {
        grid-column: 1 / span 2;
        grid-row: 8 / 8;

        align-self: center;
        justify-self: center;
        text-align: center;

        font-size: var(--fs-text-big);
        font-weight: 100;
        color: #fff;
    }

    .terms {
        text-align: center;

        font-size: var(--fs-text-big);
        font-weight: 100;
        color: #fff;
    }

}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.displayOn {
    display: block;
}

.displayOff {
    display: none;
}

@keyframes glideIn {
    from {
        margin-right: 100%;
        opacity: 0.1;
      }
    
      to {
        margin-left: 0%;
      }
}

@keyframes showIn {
    from {
        opacity: 0;
        
      }
    
      to {
        opacity: 1;
      }
}

